<div class="dashboard-container container-fluid mt-4">
  <!-- Dashboard Cards -->
  <div class="cards-section row g-4">
    <div class="col-xl-3 col-md-6 col-sm-12">
      <mat-card class="stats-card income-card mat-elevation-z3">
        <div class="icon-box">
          <mat-icon>arrow_circle_up</mat-icon>
        </div>
        <h5>Income</h5>
        <h2>{{ dashboardCards?.totalIncome | currency }}</h2>
      </mat-card>
    </div>

    <div class="col-xl-3 col-md-6 col-sm-12">
      <mat-card class="stats-card expense-card mat-elevation-z3">
        <div class="icon-box">
          <mat-icon>arrow_circle_down</mat-icon>
        </div>
        <h5>Expense</h5>
        <h2>{{ dashboardCards?.totalExpense | currency }}</h2>
      </mat-card>
    </div>

    <div class="col-xl-3 col-md-6 col-sm-12">
      <mat-card class="stats-card balance-card mat-elevation-z3">
        <div class="icon-box">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
        <h5>Balance</h5>
        <h2>{{ dashboardCards?.balance | currency }}</h2>
      </mat-card>
    </div>

    <div class="col-xl-3 col-md-6 col-sm-12">
      <mat-card class="stats-card transaction-card mat-elevation-z3">
        <div class="icon-box">
          <mat-icon>list_alt</mat-icon>
        </div>
        <h5>Transactions</h5>
        <h2>{{ dashboardCards?.totalTransactions }}</h2>
      </mat-card>
    </div>
  </div>

  <!-- Pie Chart -->
  <div class="chart-section row mt-4">
    <div class="col-12">
      <mat-card class="pie-chart-card mat-elevation-z4">
        <div class="chart-header">
          <h4>Total Expenses</h4>
        </div>

        <ngx-charts-pie-chart
          [view]="view"
          [results]="pieChartData"
          [legend]="showLegend"
          [legendTitle]="legendTitle"
          [legendPosition]="legendPosition"
          [scheme]="colorScheme"
          [labels]="true"
          [doughnut]="true"
          [animations]="true"
        >
        </ngx-charts-pie-chart>
      </mat-card>
    </div>
  </div>
</div>
